@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500;700&display=swap');
*{
    background: rgb(206, 237, 145);
    font-family: 'roboto',sans-serif;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}